<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <HttpUrl>ws://127.0.0.1</HttpUrl>
  <HttpPort>61212</HttpPort>
	<HttpSendIP>localhost</HttpSendIP>
	<HttpSendPort>1234</HttpSendPort>
	<HttpSendMethod>CCTV</HttpSendMethod>
	<HttpReceivePort>60000</HttpReceivePort>
	<HttpReceiveMethod>IFTOS</HttpReceiveMethod>
</Configuration>